html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.bg {
  background-image: url("./Assets/bg.webp");
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-position-y: 260px;
  background-color: #00ace6;
}